<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Spirdle!</title>
</head>

<body>
    <section class="spirdle right">
        <img src="img/spider.png">
      </section>
    <section class="title">
        <section class="welcome">
            <section class="tile green">W</section>
            <section class="tile yellow">E</section>
            <section class="tile red">L</section>
            <section class="tile green">C</section>
            <section class="tile yellow">O</section>
            <section class="tile red">M</section>
            <section class="tile green">E</section>
        </section>
        <section class="welcome">
            <section class="tile red">T</section>
            <section class="tile yellow">O</section>
        </section>
        <section class="welcome">
            <section class="tile green">S</section>
            <section class="tile yellow">P</section>
            <section class="tile red">I</section>
            <section class="tile green">R</section>
            <section class="tile yellow">D</section>
            <section class="tile red">L</section>
            <section class="tile green">E</section>
        </section>
        <button class="button" role="button">Login</button>
    </section>
    
    <section class="spirdle left">
        <img src="img/spiderdddd.png">
      </section>
</body>