<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Spirdle!</title>
</head>

<body>
    <section class="spirdle right">
        <img src="img/spiderdddd.png">
    </section>
    <section class="title">
        <section class="welcome">
            <section class="headingtile green">W</section>
            <section class="headingtile yellow">E</section>
            <section class="headingtile red">L</section>
            <section class="headingtile green">C</section>
            <section class="headingtile yellow">O</section>
            <section class="headingtile red">M</section>
            <section class="headingtile green">E</section>
        </section>
        <section class="welcome">
            <section class="headingtile red">T</section>
            <section class="headingtile yellow">O</section>
        </section>
        <section class="welcome bottom">
            <section class="headingtile green">S</section>
            <section class="headingtile yellow">P</section>
            <section class="headingtile red">I</section>
            <section class="headingtile green">R</section>
            <section class="headingtile yellow">D</section>
            <section class="headingtile red">L</section>
            <section class="headingtile green">E</section>
        </section>
        <button class="button tile red" >Login</button>
    </section>

    <section class="spirdle left">
        <img src="img/spiderdddd.png">
    </section>
    <section class="spirdle right">
        <img src="img/spiderdddd.png">
    </section>
</body>