<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"  href="Style.css">
<title>Spirdle!</title>
</head>
    <body>
        <section class="spirdle">
            <p class = "green">S</p>
            <p class = "red">P</p>
            <p class = "yellow">I</p>
            <p class = "green">R</p>
            <p class = "red">D</p>
            <p class = "green">L</p>
            <p class = "yellow">E</p>
        </section>
        <section>
        <button class="login-button">
            Login
        </button>
        <!-- <button class="login-button">
            How To Play 
        </button>
        <button class="login-button">
            Start
        </button> -->
        </section>
    </body>
</html>