<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Spirdle!</title>
</head>

<body>
    <section id="title-stats">
        <section class="well">
            <p class="statstile green">W</p>
            <p class="statstile  red">E</p>
            <p class="statstile  yellow">L</p>
            <p class="statstile  green">L</p>
        </section>
        <section class="done">
            <p class="statstile  red">D</p>
            <p class="statstile  yellow">O</p>
            <p class="statstile  green">N</p>
            <p class="statstile  red">E</p>
        </section>
    </section>
    <section class="card">
        <p class="no-margin">The word is:</p>
        <p class="headingtile green stats-tile word-tile ">traps</p>
        <p class="no-margin">Your score is:</p>
        <p class="headingtile stats-tile red">7</p>
        <p class="no-margin">The average score: </p>
        <p class="headingtile stats-tile yellow">5</p>
    </section>
    <section>
        <button class="button-stats button green">Go Home</button>
    </section>

</body>