@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@container (min-width: 600px) {
    body {
        background-color: aqua;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    background-color: #f0efeb;
    overflow: hidden;
    flex-grow: 2;
    height: 100%;
}



.headingtile,.htptile {
    align-items: center;
    border-radius: 0.5em;
    background-color: white;
    box-shadow: rgba(45, 35, 66, 0.4) 0 0.125em 0.25em, rgba(45, 35, 66, 0.3) 0 0.4375em 0.8125em -0.1875em, #D6D6E7 0 -0.1875em 0 inset;
    color: #36395A;
    display: inline-flex;
    font-family: "inter";
    justify-content: center;
    overflow: hidden;
    padding-left: 1em;
    padding-right: 1em;
    transition: box-shadow .15s, transform .15s;
    font-weight: bold;
    height: 3em;
    width: 1em;
}

.headingtile{
  font-size: 2em;
}
.htptile{
  font-size: 1em;

}

.headingtile:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4 8, rgba(45, 35, 66, 0.3) 0 7 13 -3, #D6D6E7 0 -3 0 inset;
    transform: translateY(-0.5em);
}

.welcome,
.home {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.welcome {
    margin: 3% auto;
}

.home {
    margin: 1%auto;
}


.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
}

.green {
    background-color: #07c04257;
}

.yellow {
    background-color: #daa731a7;
}

.red {
    background-color: #ba084c80;
}

.button,
.home-button {
    align-items: center;
    appearance: none;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2 4, rgba(45, 35, 66, 0.3) 0 7 13 -3, #D6D6E7 0 -3 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: inter;
    justify-content: center;
    transition: box-shadow .15s, transform .15s;
    touch-action: manipulation;
    will-change: box-shadow, transform;
    margin: 1% auto;
}

.button {
  font-size: 2em;
    padding: 1em;
    height: auto;
    width: auto;
    font-weight: bold;
}

.home-button {
    height: 2em;
    width: 8em;
}

.close-button{
  font-size: 1em;
  background-color: white;
   height: 2em;
    width: 7em;
}

/* .button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5 inset, rgba(45, 35, 66, 0.4) 0 2 4, rgba(45, 35, 66, 0.3) 0 7 13 -3, #D6D6E7 0 -3 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4 8, rgba(45, 35, 66, 0.3) 0 7 13 -3, #D6D6E7 0 -3 0 inset;
  transform: translateY(-0.5em);
} */

.button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(0.5em);
}

img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: fill;
    display: block;
}

.spirdle {
    display: flex;
    width: 40%;
    height: 40%;
    opacity: 20%;
    z-index: -2;

}

.right {
    margin-left: auto;
    margin-top: -35%;
}

.left {
    margin-right: 90%;
    margin-top: -20%;
}

#dialog {
    padding: 3em;
    max-width: 75%;
    min-height: 40ch;
    border: 0;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    border-radius:2em;
    text-align:center;
    background-color:white;
    border-color:#f0efeb;
    font-family: 'inter', sans-serif;
    font-size: 1em;
    color: black;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    overflow: hidden;
    line-height: 1.5;
    
  
    & > * {
      margin: 0 0 0.5rem 0;
    }
  }
  .modal::backdrop {
    background: rgb(72,79,131 / 0.4);
  }
  
  
  .order {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
  }
  .How, .To, .play {
    display: flex;
    flex-direction: row;
    align-items: center; /* Center vertically */
 
  }
  
  
  
  
  /*   Open state of the dialog  */
  dialog[open] {
    opacity: 1;
    transform: scaleY(1);
  }
  
  /*   Closed state of the dialog   */
  dialog {
    opacity: 0;
    transform: scaleY(0);
    transition:
      opacity 0.7s ease-out,
      transform 0.7s ease-out,
      overlay 0.7s ease-out allow-discrete,
      display 0.7s ease-out allow-discrete;
    /* Equivalent to
    transition: all 0.7s allow-discrete; */
  }
  
  /*   Before-open state  */
  /* Needs to be after the previous dialog[open] rule to take effect,
      as the specificity is the same */
  @starting-style {
    dialog[open] {
      opacity: 0;
      transform: scaleY(0);
    }
  }
  
  /* Transition the :backdrop when the dialog modal is promoted to the top layer */
  dialog::backdrop {
    background-color: rgb(0 0 0 / 0%);
    transition:
      display 0.7s allow-discrete,
      overlay 0.7s allow-discrete,
      background-color 0.7s;
    /* Equivalent to
    transition: all 0.7s allow-discrete; */
  }
  
  dialog[open]::backdrop {
    background-color: rgb(0 0 0 / 25%);
  }
  
  /* This starting-style rule cannot be nested inside the above selector
  because the nesting selector cannot represent pseudo-elements. */
  
  @starting-style {
    dialog[open]::backdrop {
      background-color: rgb(0 0 0 / 0%);
    }
  }

